@charset "utf-8";


@font-face{
   font-family: aFont;
   src: url(aFont.ttf) format('truetype'),
        url(aFont.woff) format('woff'),
        url(aFont.woff2) format('woff2');
}


@keyframes bounceInDown {
    from,
    60%, 
    75%,
    90%, 

    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: translate3d(0, -600px, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
    75% {
      transform: translate3d(0, -10px, 0);
    }
    90% {
      transform: translate3d(0, 5px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
   } 
    
/* Body & html */
body{
    background-color: white;

    height: 2500px;
}


/* Header */
header{
    background-color: rgb(8, 61, 1);
}

header img{
    width:100%;
}


/* Navigation */

nav.top{
	background-color: rgb(8, 61, 1);
    height: 75px;
}
nav.top li {
	font-size: 30px;
	line-height: 2em;
    width: 20%;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: text-top;
}
nav.top li a {
	color: white;
	display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: aFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
nav.top li a:hover{
    text-shadow: white 0px 0px 10px;
}
nav.top > ul li {
    float: left;
}

/* Article Styles */
article.img{
    width: 1400px;
    height: 700px;
    margin-left: 130px;
    align-content: center;
    margin-top: 100px;
    text-align: center;
    border-radius: 20px;
    border: rgba(0,0,0,.6) 2px inset;
    box-shadow: gray 0px 0px 20px in;
}


.img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('leaf2.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.img {
    color: black;
    position: relative;
    background: rgba(0,0,0,.2);
    overflow: hidden;
    font-weight: bolder;  
}
h1{
    font-size: 2.5em;
    vertical-align: text-top;
}
div#what, div#benefits{
    padding-top: 55px;
    text-shadow: black 0px 0px 5px;
    font-weight: bolder;
}
div#what p, div#benefits p{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Choice Styles */
div#how{
    width:100%;
    height: 200px;
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    align-content: center;
}
div#how p{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

div#choice{
    widows: 100%;
    height:300px;
    background-color: rgb(9, 90, 0);
    margin-top: 50px;
}

div#oils img, div#edibles img, div#capsules img{
    margin-left: 130px;
    margin-top: 30px;
}
div#oils h2, div#edibles h2, div#capsules h2{
    text-align: center;
    margin-right: 20px;
    margin-top: 30px;
}
div#oils p, div#edibles p, div#capsules p{
    font-size: .9em;
    padding: 20px;
    padding-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
}
div#oils_img, div#edibles_img, div#capsules_img{
    width: 500px;
    height: 600px;
    border:black 2px inset;
    box-shadow: black 0px 0px 20px inset;
    border-radius: 25px;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 20px;
    display:none;
}
section.choices:hover div#oils_img{
    animation-name: bounceInDown;
    animation-duration: 2s;
    display: block;
    animation-delay: 1s;
}
section.choices:hover div#edibles_img{
    animation-name: bounceInDown;
    animation-duration: 2s;
    animation-delay: 2s;
    display: block;
}
section.choices:hover div#capsules_img{
    animation-name: bounceInDown;
    animation-duration: 2s;
    animation-delay: 1.5s;
    display: block;
}

/* Reviews Styles */
section.reviews{
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
}
div#review{
    text-align: center;
    margin-left: 450px;
    width: 700px;
    height: 300px;
    border: black 2px inset;
    background-color: rgb(9, 87, 1);
    box-shadow:0px 0px 20px inset;
    
}
div#review h2{
    padding-top: 40px;
    font-size: 2em;
}
div#review p{
    padding-top: 20px;
}

div#review button{
    margin-top: 20px;
    width: 90px;
    height: 50px;
    font-size: 1.1em;
    background-color: rgba(9, 87, 1, 0.6)
}
div#review a{
    text-decoration: none;
    color: black;
}
div#review button:hover{
    background-color: rgb(43, 97, 37);
    box-shadow: white 0px 0px 15px;
}