@charset "utf-8";


@font-face{
   font-family: aFont;
   src: url(aFont.ttf) format('truetype'),
        url(aFont.woff) format('woff'),
        url(aFont.woff2) format('woff2');
}

/* Body & html */
html{
    background-color: grey;
}
body{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    box-shadow: black 0px 0px 25px;
    height: 3000px;
}


/* Header */
header{
    background-color: rgb(8, 61, 1);
}

header img{
    width:100%;
}


/* Navigation */

nav.top{
	background-color: rgb(8, 61, 1);
	
    height: 75px;
}
nav.top li {
	font-size: 30px;
	line-height: 2em;
    width: 20%;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: text-top;
}
nav.top li a {
	color: white;
	display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: aFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
nav.top li a:hover{
    text-shadow: white 0px 0px 10px;
}
nav.top > ul li {
    float: left;
}

/* Article Styles */
article.img{
    width: 1300px;
    height: 700px;
    margin-left: 80px;
    margin-right: 80px;
    align-content: center;
    margin-top: 100px;
    text-align: center;
    border-radius: 20px;
    border: rgba(0,0,0,.6) 2px inset;
    box-shadow: gray 0px 0px 20px in;
}


.img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('leaf2.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.img {
    color: black;
    position: relative;
    background: rgba(0,0,0,.2);
    overflow: hidden;
    font-weight: bolder;  
}
h1{
    font-size: 2.5em;
    vertical-align: text-top;
}
div#what, div#benefits{
    padding-top: 55px;
    text-shadow: black 0px 0px 5px;
    font-weight: bolder;
}
div#what p, div#benefits p{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Choice Styles */
div#how{
    width:100%;
    background-color: rgba(8, 61, 1, 0.8);
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-top: black 2px inset;
    border-bottom: black 2px inset;
    box-shadow: grey 0px 0px 10px inset;
}
div#how p{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

div#oils_p, div#edibles_p, div#capsules_p{
    display: block;
    float: right;
    margin-right: 80px;
}
div#oils_p h2, div#edibles_p h2, div#capsules_p h2{
    text-align: center;
}

div#oils_img, div#edibles_img, div#capsules_img{
    position: absolute;
    display: block;
    float: left;
    margin-left: 100px;
    background-color: rgb(8, 61, 1);
    width:300px;
    height: 400px;
}
div#oils_img{
    margin-top: 10px;
}
div#oils_p{
    margin-top: 40px;
}
div#edibles_img{
    margin-top: 50px;
}
div#edibles_p{
    margin-top: 90px;
}
div#capsules_img{
    margin-top: 110px;
}
div#capsules_p{
    margin-top: 180px;
}
